
<h1>Logistic Regression</h1>
<div id="logisticReg">
    <div class="btn-toolbar" role="toolbar">
        <div class="btn-group">
            <button class="btn btn-default" ng-click="ctrl.start()" ng-disabled="ctrl.started">Start</button>
            <button class="btn btn-default" ng-click="ctrl.stop()" ng-disabled="!ctrl.started">Stop</button>
            <button class="btn btn-default" ng-click="ctrl.reset()" ng-disabled="!ctrl.started">Reset</button>
            <button class="btn btn-default" ng-click="ctrl.train()" ng-disabled="ctrl.started">Train</button>
            <button class="btn btn-default" ng-click="ctrl.resetDraw()">Reset Draw</button>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-body">
            <ul>
                <li>Cost: {{ctrl.cost}}</li>
                <li>Epoch: {{ctrl.epoch}}</li>
                <li>Performance: {{ctrl.performance}}%</li>
            </ul>
        </div>
    </div>
    <digit-image pixels="ctrl.samples[ctrl.index].pixels" width="200" height="200"></digit-image>
    <line-chart chart-data="ctrl.costs"></line-chart>
    <draw-panel pixels="ctrl.testPixels" width="200" height="200" on-draw="ctrl.recognize()"></draw-panel>
    <span>{{ ctrl.testResult }}</span>
    <div>
        <digit-image pixels="ctrl.elements[0]" width="100" height="100" is-param="true"></digit-image>
        <digit-image pixels="ctrl.elements[1]" width="100" height="100" is-param="true"></digit-image>
        <digit-image pixels="ctrl.elements[2]" width="100" height="100" is-param="true"></digit-image>
        <digit-image pixels="ctrl.elements[3]" width="100" height="100" is-param="true"></digit-image>
        <digit-image pixels="ctrl.elements[4]" width="100" height="100" is-param="true"></digit-image>
        <digit-image pixels="ctrl.elements[5]" width="100" height="100" is-param="true"></digit-image>
        <digit-image pixels="ctrl.elements[6]" width="100" height="100" is-param="true"></digit-image>
        <digit-image pixels="ctrl.elements[7]" width="100" height="100" is-param="true"></digit-image>
        <digit-image pixels="ctrl.elements[8]" width="100" height="100" is-param="true"></digit-image>
        <digit-image pixels="ctrl.elements[9]" width="100" height="100" is-param="true"></digit-image>
    </div>
</div>