
<h1>Linear Regression</h1>
<div id="linearReg">
    <button class="btn btn-default" ng-click="ctrl.start()" ng-disabled="ctrl.started">Start</button>
    <button class="btn btn-default" ng-click="ctrl.reset()" ng-disabled="ctrl.started">Reset</button>
    <div class="panel panel-default">
        <div class="panel-body">
            <ul>
                <li>learning rate: <input ng-model="ctrl.learningRate"></li>
                <li>W: {{ctrl.model.params[0].value.elements}}</li>
                <li>epoch: {{ctrl.epoch}}</li>
                <li>Cost: {{ctrl.cost}}</li>
            </ul>
        </div>
    </div>
    <point-regression-chart points="ctrl.points" params="ctrl.model.params"></point-regression>
    <line-chart chart-data="ctrl.costs"></line-chart>
</div>
